@import "tailwindcss";

@font-face {
  font-family: veekites;
  src: url("./fonts/PlusJakartaSans-Light.ttf");
}

body {
  font-family: veekites;
}

.ant-card .ant-card-body{
  padding: 25px 0 !important;
}

.ant-card-bordered .ant-card-cover{
  border-radius:  0 !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 10s linear infinite;
}

.swiper-pagination {
  bottom: -16px !important;
}

.custom-dots li.slick-active button::before {
  color: #a02b2d !important;
}
